@import "flat_ui_colors";

body {
    background: #242424;
    color: $flat_ui_clouds;
    font-family: Verdana, Arial, Times;
}

li {
    margin-bottom: 8px;
}
code {
    padding: 4px;
}

code.bash {
    background: black;
    color: $flat_ui_clouds;
}

.false {
    background: #ff5f7a;
    color: #610111;
}

.true {
    background: #bfffbf;
    color: #116001;
}